extends layout
block content
  #accordion.panel-group
   .panel.panel-default
     .panel-heading
       h4.panel-title
         a(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
           | Campaigns
     #collapse1.panel-collapse.collapse
       .panel-body
         section#timeline.timeline-section.section-padding
          .container
            h2.section-title.wow.fadeInUp Campaigns
            .row
              .col-md-12
                .timeline-title
                  h3 Presidencia 2002
                .timeline
                  ul.timeline
                    li
                      .posted-date
                        span.month 2001-2002
                      // /posted-date
                      .timeline-panel.wow.fadeInUp
                        .timeline-content
                          .timeline-heading
                            h3 Viaje por la costa atlantica
                            span Presunta financiación del cartel de la costa con mas de 200M de pesos. Ver Noticia.
                          // /timeline-heading
                          .timeline-body
                            p
                              | According to the prestigious newspaper "El Espectador" during its campaign, he received a juicy amount of money from organized crime gangs.
                          // /timeline-body
                        // /timeline-content
                      // /timeline-panel
                    li.timeline-inverted
                      .posted-date
                        span.month 2002
                      // /posted-date
                      .timeline-panel.wow.fadeInUp
                        .timeline-content
                          .timeline-heading
                            h3 Campaign Bogota
                            span Promising new affordable housing
                          // /timeline-heading
                          .timeline-body
                            p
                              | In his visit to Bogota, he promised the creation of 20.000 new houses around the city for the poor of the city.
                         // /timeline-body
                        // /timeline-content
                      // /timeline-panel
                    li
                      .posted-date
                        span.month 2002 (June)
                      // /posted-date
                      .timeline-panel.wow.fadeInUp
                        .timeline-content
                          .timeline-heading
                            h3 Elections
                            span In a tight election, he won with 10'392.990 votes against 10'100.239 obtained for "the second candidate". Even thought many people say it was a fixed election.
                          // /timeline-heading
                          .timeline-body
                            p
                              | Followers went out to celebrate that he won the elections and now can fuck them and their families as he pleases :(
                          // /timeline-body
                        // /timeline-content
                      // /timeline-panel
            // /row
            .row
              .col-md-12
                .timeline-title
                  h3 Experience
                .timeline
                  ul.timeline
                    li.timeline-inverted
                      .posted-date
                        span.month 2011-2013
                      // /posted-date
                      .timeline-panel.wow.fadeInUp
                        .timeline-content
                          .timeline-heading
                            h3 Junior ui designer
                            span XYZ Design Home, One Street, Boston
                          // /timeline-heading
                          .timeline-body
                             p
                              | I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.
                          // /timeline-body
                        // /timeline-content
                      // /timeline-panel
                    li
                      .posted-date
                        span.month 2013-2015
                      // /posted-date
                      .timeline-panel.wow.fadeInUp
                        .timeline-content
                          .timeline-heading
                            h3 Lead UX Consultant
                            span Lucky8 Designing Firm, California
                          // /timeline-heading
                          .timeline-body
                            p
                              | Completely provide access to seamless manufactured products before functionalized synergy. Progressively redefine competitive.
                          // /timeline-body
                        // /timeline-content
                      // /timeline-panel
             // /row
          // /.container
        // End timeline Section
   .panel.panel-default
     .panel-heading
       h4.panel-title
         a(data-toggle='collapse', data-parent='#accordion', href='#collapse2')
           | Investigations
     #collapse2.panel-collapse.collapse
       .panel-body
         | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
         | minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
         | commodo consequat.
   .panel.panel-default
     .panel-heading
       h4.panel-title
         a(data-toggle='collapse', data-parent='#accordion', href='#collapse3')
           | Bills
     #collapse3.panel-collapse.collapse
       .panel-body
         | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
         | minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
         | commodo consequat.